body {
    margin: 0px;
}

.navbar-container {
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1;
}

.navbar-container nav {
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

nav h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin: 0;
}

.search {
    width: 288px;
    height: 40px;
}

nav input {
    width: 100%;
    height: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    background: transparent;
    padding: 0 20px;
    box-sizing: border-box;
}

nav input::placeholder {
    color: #FFFFFF;
}

nav a {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 10px;
}

.hero {
    width: 100%;
    height: 735px;
    background-image: url("assets/hero-image.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    padding: 150px 0 0 0;
    box-sizing: border-box;
}

.hero-content {
    font-family: 'Montserrat';
    font-style: normal;
    color: #FFFFFF;
    width: 80%;
    margin: auto;
}

.hero-content h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin: 0;
}

.hero-content p {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.hero-content a {
    font-family: 'Montserrat';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.page-content {
    width: 80%;
    margin: auto;
}

.page-content h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    margin: 30px 0 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.card-contents {
    position: relative;
}

.section-1 h3{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
}

.flex-row {
    flex-wrap: nowrap;
    flex-direction: row;
}